* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
    list-style: none;
    text-decoration: none;
}

body{
    height: 100vh;
    background-image: url(img/bg1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background:#2f3640;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    box-shadow: 0 5px 10px #2f3640;
}

header .logo{
    font-size: 20px;
    font-weight: 900;
    color: #ff753e;
}

header nav ul li {
    position: relative;
    float: left; 
}

header nav ul li a{
    padding: 15px;
    color: #ff753e;
    font-size: 16px;
    display: block;
}

header nav ul li a:hover{
    background: #ff753e;
    color: #2f3640;
}

section{
    padding-top: 20.2%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10%;
    
}
.section_div{
    border-style: solid;
    border-width: 1px;
    background-color: #2f3640;
    border-color: #2f3640;
    box-shadow: 0 5px 10px #2f3640;
    border-radius: 10px;
    display: inline-block; width: 100%;
}
section b{
    color: #ccc;
    
}  
section a{
    text-align: center;
    padding: 15px;
    color: #ff753e;
    font-size: 16px;
    display: block;
}
section div{
    padding: 20px 20px 20px 20px;
    border-style: solid;
    border-width: 1px;
    background-color: #2f3640;
    border-color: #000;
    box-shadow: 0 5px 10px #000;
    display: inline-block; width: 32%; 
    margin: 0 5px 15px 5px;
}
section img{
    margin: auto;
    display: block;
    width: 100%;
    height: 70%;
}

footer{
    width: 100%;
    height: 10vh;
    position: absolute;
    left: 0;
    right: 0;
    background:#2f3640;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    box-shadow: 0 5px 10px #2f3640;
}

footer .logo{
    font-size: 20px;
    font-weight: 900;
    color: #ff753e;
}

footer nav ul li {
    position: relative;
    float: left; 
}

footer nav ul li a{
    padding: 15px;
    color: #ff753e;
    font-size: 16px;
    display: block;
}

footer nav ul li a:hover{
    background: #ff753e;
    color: #2f3640;
}